# folders
artifacts/
build/
cache/
coverage/
dist/
lib/
node_modules/
typechain/
typechain-types/
test-old/
contracts/interfaces/
contracts/synthetix/
contracts/test-helpers/
random-scripts/

# files
.solcover.js
coverage.json
package.json
docify.js
