{
  "printWidth": 120,
  "proseWrap": "preserve",
  "singleQuote": true,
  "useTabs": false,
  "tabWidth": 2,
  "arrowParens": "avoid",
  "semi": true,
  "trailingComma": "all",
  "overrides": [
    {
      "files": "*.sol",
      "options": {
        "bracketSpacing": false,
        "explicitTypes": "never",
        "singleQuote": false,
        "printWidth": 120
      }
    }
  ]
}
